<!-- Footer -->
  <footer id="footer">
    <div class="inner">
      <section>
      </section>
      <section>
        <h2>Follow</h2>
        <ul class="icons">
          {% if site.github %}
            <li>
              {% include icon-github.html username=site.github.username %}
            </li>
          {% endif %}
          {% if site.twitter %}
            <li>
              {% include icon-twitter.html username=site.twitter.username %}
            </li>
          {% endif %}
          {% if site.linkedin %}
            <li>
              {% include icon-linkedin.html username=site.linkedin.username %}
            </li>
          {% endif %}
          {% if site.facebook %}
            <li>
              {% include icon-facebook.html username=site.facebook.username %}
            </li>
          {% endif %}
          {% if site.youtube %}
            <li>
              {% include icon-youtube.html username=site.youtube.username %}
            </li>
          {% endif %}
          {% if site.instagram %}
            <li>
              {% include icon-instagram.html username=site.instagram.username %}
            </li>
          {% endif %}
        </ul>
      </section>
      <ul class="copyright">
        <li>&copy; {{ site.company | escape }}. All rights reserved</li>
      </ul>
    </div>
  </footer>

</div>
