h1 {
    /*font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;*/
    /*font-style: normal;*/
    /*font-weight: 700;*/
    /*font-size: 30px;*/
    /*color: rgb(35, 35, 35);*/
    /*line-height: 33px;*/
    /*letter-spacing: -1px;*/
    text-transform: uppercase;
}

#header {
    padding-top: 3em;
}

.sbplogo {
    text-decoration: none;
    border: none;
    display: inline-block;
    margin-bottom: 2em;
}
.sbplogo img {
    width: 100px;
}

.page-caption {
    max-width: 480px;
}

.tiles > article {
    margin-bottom: 1.5em;
}

#footer > .inner .copyright {
    font-size: 0.75em;
    padding-left: 2em;
}

#footer {
    background: #4cbae9;
    color: white !important;
}

#footer * {
    color: white !important;
}

#footer .icon.style2 {
    border-color: white;
}
#footer .icon.style2:hover {
    background-color: white;
    border-color: #4cbae9;
    color: #4cbae9 !important;
}
