<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>
    <div id="wrapper">

      {% include header.html %}
      {% include menu.html %}

      <main id="main" class="page-content" aria-label="Content">
          {{ content }}
      </main>
    </div>
    {% include footer.html %}

    <!-- Scripts -->
			<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/skel.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="/assets/js/main.js"></script>

  </body>

</html>
