---
layout: default
---

<div class="inner">
  <header>
    <h1><!--[-->Schuberg Philis Open Source<!--]--><br />
    <!--[--><!--]--></h1>
    <p>Welcome to the open source site of Schuberg Philis. We love to share, on this site you can find the references to our work.</p>
  </header>
  <section class="tiles">
    <article class="style1">
      <span class="image">
        <img src="images/pic01.jpg" alt="" />
      </span>
      <a href="https://www.seccubus.com/">
        <h2>Seccubus</h2>
        <div class="content">
          <p>Seccubus was created to more effectively analyze the results of regular vulnerability scans. It was designed with defenders in mind who have to scan the same infrastructure regularly.</p>
        </div>
      </a>
    </article>
    <article class="style2">
      <span class="image">
        <img src="images/pic02.jpg" alt="" />
      </span>
      <a href="http://xanzy.io/projects/chef-guard/introduction/overview.html">
        <h2>Chef-Guard</h2>
        <div class="content">
          <p>Chef-Guard protects your Chef server from untested and uncommitted (i.e. potentially dangerous) cookbooks by running several validations and checks during the cookbook upload process.</p>
        </div>
      </a>
    </article>
    <article class="style3">
      <span class="image">
        <img src="images/pic03.jpg" alt="" />
      </span>
      <a href="http://cosmiccloud.io/">
        <h2>Cosmic</h2>
        <div class="content">
          <p>Cosmic Cloud delivers high quality Cloud Orchestration software to run Mission Critical workloads.</p>
        </div>
      </a>
    </article>
    <!-- <article class="style4">
      <span class="image">
        <img src="images/pic04.jpg" alt="" />
      </span>
      <a href="generic.html">
        <h2>Tempus</h2>
        <div class="content">
          <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
        </div>
      </a>
    </article>
    <article class="style5">
      <span class="image">
        <img src="images/pic05.jpg" alt="" />
      </span>
      <a href="generic.html">
        <h2>Aliquam</h2>
        <div class="content">
          <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
        </div>
      </a>
    </article>
    <article class="style6">
      <span class="image">
        <img src="images/pic06.jpg" alt="" />
      </span>
      <a href="generic.html">
        <h2>Veroeros</h2>
        <div class="content">
          <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
        </div>
      </a>
    </article>
    <article class="style2">
      <span class="image">
        <img src="images/pic07.jpg" alt="" />
      </span>
      <a href="generic.html">
        <h2>Ipsum</h2>
        <div class="content">
          <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
        </div>
      </a>
    </article>
    <article class="style3">
      <span class="image">
        <img src="images/pic08.jpg" alt="" />
      </span>
      <a href="generic.html">
        <h2>Dolor</h2>
        <div class="content">
          <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
        </div>
      </a>
    </article>
    <article class="style1">
      <span class="image">
        <img src="images/pic09.jpg" alt="" />
      </span>
      <a href="generic.html">
        <h2>Nullam</h2>
        <div class="content">
          <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
        </div>
      </a>
    </article>
    <article class="style5">
      <span class="image">
        <img src="images/pic10.jpg" alt="" />
      </span>
      <a href="generic.html">
        <h2>Ultricies</h2>
        <div class="content">
          <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
        </div>
      </a>
    </article>
    <article class="style6">
      <span class="image">
        <img src="images/pic11.jpg" alt="" />
      </span>
      <a href="generic.html">
        <h2>Dictum</h2>
        <div class="content">
          <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
        </div>
      </a>
    </article>
    <article class="style4">
      <span class="image">
        <img src="images/pic12.jpg" alt="" />
      </span>
      <a href="generic.html">
        <h2>Pretium</h2>
        <div class="content">
          <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
        </div>
      </a>
    </article> -->
  </section>
</div>
